{% extends 'base.html.twig' %}

{% block title %}Nos Cultes{% endblock %}

{% block body %}
<div class="container">
    <h1>Nos Cultes</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col" >Id</th>
                <th scope="col" >Libelle</th>
                <th scope="col" >Date Création</th>
                <th scope="col" >Date du Culte</th>
                <th scope="col" >Effectif Total</th>
                <th scope="col" >NouveauVenu</th>
                <th scope="col" >actions</th>
            </tr>
        </thead>
        <tbody>
        {% for culte in cultes %}
            <tr>
                <td scope="row" >{{ culte.id }}</td>
                <td>{{ culte.libelle }}</td>
                <td>{{ culte.createdAt ? culte.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ culte.dateculte ? culte.dateculte|date('Y-m-d') : '' }}</td>
                <td>{{ culte.effectif }}</td>
                <td>{{ culte.nouveauVenu }}</td>
                <td> <a href="{{ path('app_offrande_culte', {'id': culte.id}) }}" >Offrandes</a> </td>
                <td>
                    <a href="{{ path('app_culte_show', {'id': culte.id}) }}">Afficher</a>
                    <a href="{{ path('app_culte_edit', {'id': culte.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_culte_new') }}">Ajouter un culte</a>
</div>
{% endblock %}
