{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css">

	<link rel=" stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">

	<link rel="stylesheet" href="{{asset('parent/css/style.css')}} ">

	<link rel="stylesheet" href="{{asset('select/select.css')}}">
	<style>
		table {
			width: 100%;
			border-collapse: collapse;
			margin-bottom: 20px;
		}

		th,
		td {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}

		th {
			background-color: #f2f2f2;
		}
	</style>

{% endblock %}

{% block javascripts %}

	<script src="{{asset('table/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{asset('table/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{asset('table/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
	<script src="{{asset('table/vendor/select2/select2.min.js')}}"></script>
	<script src="{{asset('table/js/main.js')}}"></script>


	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

	<script>
		$(document).ready(function () {
$('#myTable').DataTable({
"aaSorting": [],
language: {
url: 'https://cdn.datatables.net/plug-ins/1.12.0/i18n/fr-FR.json'
}
});
});
	</script>
	<script>
		function fermer() {

document.getElementById("toast1").hidden = true
}
	</script>
{% endblock %}

{% block title %}{% endblock %}
{% block body %}

	<div class="container">
		<h2>Liste des Départements</h2>
		<br>
		{# templates/quelque_part.html.twig #}

		{# 	<a href="{{ path('pdf_generate') }}" class="btn btn-primary">Télécharger le PDF</a>#}
		<br>
		<br>

			{% if departement  is not null %}


				<div class="row mt-3"> <table class="table table-bordered" id="myTable" data-vertable="ver1">

					<tr class="row100 head">


						<th class="column100 column3" data-column="column3">Numéro
						</th>
						<th class="column100 column2" data-column="column2">Département</th>

					</tr>

					<tbody>


						{% for departement in departement %}

							<tr class="row100">


								<td class="column100 column2" data-column="column2">{{ loop.index }}</td>
								<td class="column100 column3" data-column="column3">{{departement.nom}}</td>


							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}


	</div>

{% endblock %}
