{% extends "root.html.twig" %}
{% block body %}

	<style>
		#chart01 {
			height: 35vh;
		}
		#chart02 {
			height: 35vh;
		}
	</style>


	<div class="container">
		<div class="row">
			<div class="row mb-3">
				<div class="col-md-1 col-sm-12">
					<img src="{{ asset('image/trinite.jpg') }}" style="height: 105px">
				</div>
				<div class="col-md-10 pt-3 col-sm-12"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md col-sm-12">
				<div class="card bg-success">
					<div class="card-body">
						<h5 class="card-title text-white">Ouvriers</h5>
						<div class="row">
							<div class="col-md">
								<i class="fa-solid fa-user-graduate text-white" style="font-size: 40px"></i>
							</div>
							<div class="col-md">
								<h2 class="text-white">{{total}}</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md col-sm-12">
				<div class="card bg-primary">
					<div class="card-body">
						<h5 class="card-title text-white">Hommes</h5>
						<div class="row">
							<div class="col-md">
								<i class="fas fa-male text-white" style="font-size: 40px"></i>
							</div>
							<div class="col-md">
								<h2 class="text-white">
									{{nombreGarcons}}
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md col-sm-12">
				<div class="card bg-warning">
					<div id="card" class="card-body" style="background-color: rgb(255, 99, 132); color: rgb(255, 255, 255);">
						<h5 class="card-title text-white">Femmes</h5>
						<div class="row">
							<div class="col-md">
								<i class="fas fa-female text-white" style="font-size: 40px"></i>
							</div>
							<div class="col-md">
								<h2 class="text-white">
									{{nombreFilles}}
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row m-3">
			<div class="col-md">
				<div id="chart01">
					<canvas id="mChart01"></canvas>
				</div>
			</div>
			<div class="col-md">
				<div id="chart02">
					<canvas id="mChart02"></canvas>
				</div>
			</div>
		</div>
		<div class="row m-3">
			<h5 class="">Recherche Membre</h5>
			<form action="{{path('ouvrier_statistique')}}" method="POST">
				<div class="row p-3">

					<div class="col-md-5">
						<div class="form-outline">
							<input type="text" id="form12" class="form-control" name="nom"/>
							<label class="form-label" for="form12">Nom</label>
						</div>
					</div>
					<div class="col-md-7 float-left">
						<button class="btn btn-info">Rechercher</button>
					</div>
				</div>
			</form>
			<table class="table table-bordered">
				<caption>Résultats</caption>

				<tr>
					<th scope="col">Nom</th>
					<th scope="col">Postnom</th>
					<th scope="col">Prénom</th>
					<th scope="col">Sexe</th>
					<th scope="col">Departement</th>
					<th scope="col">Departement</th>
					<th scope="col">Sous Departement</th>

				</tr>
			</thead>
			<tbody>
				{% for fidel in fidels %}
					<tr>
						<td class="pl-2">
							{{fidel.nom}}</td>
						<td class="pl-2">{{fidel.postnom}}</td>
						<td class="pl-2">{{fidel.prenom}}</td>
						<td class="pl-2">{{fidel.sexe}}</td>
						<td class="pl-2">{{fidel.categorie}}</td>
						<td>
							{% if  fidel.departement %}
								{{ fidel.departement.nom}}
							{% endif %}

							{% if not fidel.departement %}
								il(elle) n'est pas dans un departement
							{% endif %}
						</td>
						<td>
							{% if fidel.sousdepartement %}
								{{ fidel.sousdepartement.nom}}
							{% endif %}

							{% if not fidel.sousdepartement %}
								il(elle) n'est pas dans un sous departement
							{% endif %}
						</td>

					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>

{% endblock %}
{% block javascripts %}

	<script>
		const data01 = {
labels: [
'Femmes', 'Hommes',
],
datasets: [
{
label: 'Chart01',
data: [{% for nMembre in  nMembreParSexe %}{{ nMembre.Nbr }},{% endfor %}],
backgroundColor: [
'rgb(255, 99, 132)', 'rgb(54, 162, 235)',
],
hoverOffset: 2
}
]
};
const config01 = {
type: 'pie',
data: data01,
options: {
responsive: true,
aspectRatio: 2
}
};
const myChart01 = new Chart(document.getElementById('mChart01'), config01,);
	</script>
	<script>
		const labels = "{{ categorieLabel | join('|') }}".split("|");
const data02 = {
labels: labels,
datasets: [
{
axis: 'y',
label: 'Membres par Categories',
fill: false,
data: "{{ categorieValeur | join('|') }}".split("|"),
backgroundColor: [
'rgba(54, 162, 235, 0.7)',
'rgba(54, 162, 235, 0.7)',
'rgba(54, 162, 235, 0.7)',
'rgba(54, 162, 235, 0.7)',
'rgba(54, 162, 235, 0.7)'
],
borderWidth: 1
}
]
};
const config02 = {
type: 'bar',
data: data02,
options: {
scales: {
x: {
beginAtZero: true
}
},
responsive: true,
aspectRatio: 2,
indexAxis: 'y'
}
};
const myChart02 = new Chart(document.getElementById('mChart02'), config02,);
	</script>

	{% for message in app.flashes('notification') %}

		<div class="toast show" role="alert" id="toast1" data-delay="5000" style="position: absolute; top: 1rem; right: 1rem; min-width:250px;" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<strong class="me-auto">Message</strong>
				<small></small>
				<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Fermer" onclick="fermer()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="toast-body">
				<p class="text-danger">{{message}}</p>
			</div>
		</div>
	{% endfor %}
{% endblock %}
