{% extends 'base.html.twig' %}

{% block title %}TypeCulte{% endblock %}

{% block body %}
    <h1>TypeCulte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_culte.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ type_culte.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_culte_index') }}">back to list</a>

    <a href="{{ path('app_type_culte_edit', {'id': type_culte.id}) }}">edit</a>

    {{ include('type_culte/_delete_form.html.twig') }}
{% endblock %}
