{% extends 'root.html.twig' %}

{% block title %}Hello DepartementController!
{% endblock %}

{% block stylesheets %}

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}


{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="{{asset('parent/js/jquery.min.js')}} "></script>
	<script src="{{asset('parent/js/popper.js')}} "></script>
	<script src="{{asset('parent/js/bootstrap.min.js')}} "></script>
	<script src="{{asset('parent/js/jquery.validate.min.js')}} "></script>
	<script src="{{asset('parent/js/main.js')}} "></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{{ asset('js/selects.js') }}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{{asset('table/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{asset('table/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{asset('table/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
	<script src="{{asset('table/vendor/select2/select2.min.js')}}"></script>
	<script src="{{asset('table/js/main.js')}}"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

	<script>
		function fermer() {

document.getElementById("toast1").hidden = true
}
	</script>

	<script>
		function toggleMotDePasse() {
var motDePasseInput = document.getElementById('motDePasse');
var afficherMotDePasseSpan = document.getElementById('afficherMotDePasse');

if (motDePasseInput.type === 'password') {
motDePasseInput.type = 'text';
afficherMotDePasseSpan.innerText = '';
} else {
motDePasseInput.type = 'password';
afficherMotDePasseSpan.innerText = '';
}
}
	</script>


	<script>
		function toggleMotDePasseC() {
var motDePasseInput = document.getElementById('motDePasseC');
var afficherMotDePasseSpan = document.getElementById('afficherMotDePasseC');

if (motDePasseInput.type === 'password') {
motDePasseInput.type = 'text';
afficherMotDePasseSpan.innerText = '';
} else {
motDePasseInput.type = 'password';
afficherMotDePasseSpan.innerText = '';
}
}
	</script>


	<script>
		$(document).ready(function () {
var searchForm = $('#search-form');
var searchInput = $('#search-input');
var searchResults = $('#search-results');


searchInput.keyup(function () {
performSearch();
});

function performSearch() {
var searchTerm = searchInput.val();

$.ajax({
url: '/searchRecherche',
type: 'GET',
data: {
term: searchTerm
},
success: function (data) {
displayResults(data);
},
error: function (error) {
console.error('Erreur lors de la recherche', error);
}
});
}

function displayResults(results) {
searchResults.empty();

if (results.length > 0) {
results.forEach(function (result) {
var resultItem = $('<div class="result-item"></div>');
resultItem.text(result.nom + ' ' + result.postnom + ' ' + result.prenom);
resultItem.click(function () {
searchInput.val(result.id);
searchResults.hide();
});

searchResults.append(resultItem);
});

searchResults.show();
} else {
searchResults.hide();
}
}
});
	</script>
{% endblock %}

{% block body %}

	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<form method="POST" action="{{path('Supprimer_User')}}" id="search-form">
					<h2 class="text-center mb-4">Supprimer Utilisateur</h2>


					<div id="search-container">
						<input type="text" id="search-input" class="form-control" name="nom" placeholder="Effectuez une recherche">
					</div>
					<div id="search-results"></div>

					<br>
					<br>
					<button type="submit" class="btn btn-success btn-block">Supprimer</button>
				</form>
			</div>
		</div>
	</div>

	<!-- Ajoutez jQuery et Popper.js avant Bootstrap JavaScript -->
	{% for message in app.flashes('notification') %}

		<div class="toast show" role="alert" id="toast1" data-delay="5000" style="position: absolute; top: 1rem; right: 1rem; min-width:250px;" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<strong class="me-auto">Message</strong>
				<small></small>
				<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Fermer" onclick="fermer()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="toast-body">
				<p class="text-danger">{{message}}</p>
			</div>
		</div>
	{% endfor %}

{% endblock %}
